.FilterSection hr {
  border: 0.15rem solid #7f2117;
  width: 50%;
}

.Filter {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  margin: 1rem auto;
}

.Filter p {
  font-size: 1.25rem;
}

.FilterOptions:hover {
  text-decoration: underline;
  color: #7f2117;
  cursor: pointer;
}

.Inputs {
  width: 35rem;
  margin: 1rem auto;
  display: flex;
  justify-content: space-evenly;
}

.Inputs input {
  display: block;
  width: 15rem;
  padding: 0.5rem 1rem;
  border: 0.125rem solid #7f2117;
  border-radius: 0.5rem;
}

.SearchBar button {
  display: block;
  width: 15rem;
  margin: 1rem auto;
  border: 0.1rem solid #7f2117;
  border-radius: 1rem;
  padding: 0.35rem 0;
  color: #7f2117;
  font-size: 1rem;
  background-color: #ffe5e2;
}

.SearchBar button:active {
  width: 16rem;
  height: 2.5rem;
}
